h1{
    color:rgb(240, 34, 96);
    font-family: 'Freckle Face', cursive;  'Trebuchet MS', sans-serif;
     text-align: center;
     font-size: 64px;
}
h2{
    color:rgb(24, 21, 22);
    font-family: 'Freckle Face', cursive;  'Trebuchet MS', sans-serif;
     text-align: center;
     font-size: 64px

}
p{
    font-family: 'Titan One', cursive;
    font-size: 50px;
    color: rgb(236, 170, 209);
    
    
}
body {
    border-color: rgb(21, 151, 211);
    background-image: url("http://images.unsplash.com/photo-1530103862676-de8c9debad1d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max")
    }
    li{
        font-size: 45px;
        font-family: fantasy;
        color:#da1366d8 ;
        list-style: none;

        
       
      
        

    }
    .container{
        width: 500px;;
        margin:auto;
    }
    .box-1{
        background-color:rgb(45, 160, 180);
        padding: 10px;
        margin: 10px,5px;
        border: rgb(116, 192, 135);
        border-width: medium;
        border: 5px rgb(235, 153, 208) dotted;
        padding: 20px ;
       
        
        

    }
    .box-2{
    
        border: 5px rgb(235, 153, 208) dotted;
        background-color: aquamarine;
        padding: 20px;
        margin:20px 0;
  
    
    }
       
    .box-1 h1{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.5em;
    }
    .box-1 p{
        font-family: fantasy;
        font-size: 1em;

    }
    .box-2 h1{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.5em;
    }
    .box-2 p{
        font-family: fantasy;
        font-size: 1em;

    }
    .box-3{
    
        border: 5px rgb(235, 153, 208) dotted;
        background-color: rgb(180, 137, 230);
        padding: 20px;
        margin:20px 0;
  
    
    }
       
    .box-3 h1{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.5em;
    }
    .box-3 p{
        font-family: fantasy;
        font-size: 1em;

    }
    

   